*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
:root{
    --margin: 0px auto;
    --border: 1px solid #000;
}
.header{
    max-width: 100%;
    height: 700px;
    border: var(--border);
}